{% extends 'admin/base.html' %}
{% block content %}
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="card" style="width: 900px">
<div class="card-header">
<h3 class="card-title text-center"> Laporatory Types</h3>
</div>

<div class="card-body">
<table class="table table-bordered">
<thead style="width: 100px">
<tr>

<th style="width: 50px">#</th>
<th>Patient ID</th>

<th>Paid</th>
<th>Date</th>
<th style="width: 50px">Price</th>
</tr>
</thead>
{% for laboratory_test in laboratory_test %}
<tbody>
<tr>


<td>{{laboratory_test.id}}</td>
<td>{{laboratory_test.patient_id}}</td>



{% if laboratory_test.paid == 1 %}
<td><span><span class="badge bg-success">Yes</span></span></td>
{% else %}
<td><span><span class="badge bg-danger">No</span></span></td>
{% endif %}
<td>{{ laboratory_test.date }}</td>
<td>{{laboratory_test.price}}</td>
</tr>

</tbody>
{% endfor %}
</table>
</div>

</div>
{% endblock %}
