{% extends 'doctor/base.html' %}

{% block content %}



    <div class="row">

      <div class="col-md-12">


        <div class="card" style="width: 900px">
        <div class="card-header" style="color: white; background-color: #6778ff;">
        <h3 class="card-title text-center"> Your Patients</h3>
        </div>

        <div class="card-body">
        <table class="table table-bordered">
        <thead style="width: 100px">
        <tr>

        <th style="width: 50px">#</th>
        <th style="width: 100px">Name</th>
        <th style="width: 100px">Last Name</th>
      
        <th style="width: 100px">Gender</th>
        <th style="width: 30px">View</th>
        </tr>
        </thead>
        {% for patient in patients %}

        <tbody>
        <tr>

        <td>{{patient.id}}</td>
        <td>{{patient.first_name}}</td>


      <td>{{ patient.second_name }}</td>


        <td>{{ patient.gender }}</td>
        <td><a href="{{ url_for('patient_detail', patient_id=patient.id) }}" class="text-decoration-none">View </a></td>

        </tr>

        </tbody>

          {% endfor %}
        </table>
        </div>

        </div>

      </div>
    </div>


{% endblock %}
