{% extends 'doctor/base.html' %}

{% block content %}
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card" style="background-color: #e3ede8;">
<div class="card-header" style="color: white; background-color: #6778ff;">
<h3 class="card-title">Detail {{patient.first_name}} {{patient.second_name}}</h3>
</div>

<div class="card-body">
<table class="table table-bordered">
<thead>
<tr>

<th style="color: #ffffff; width: 50px; background-color: #7e858a;">Patient Information</th>
<th style="text-align: center; color: #ffffff; font-weight: bold; background-color: #7e858a;">Reports</th>
</tr>
</thead>
<tbody>
<tr>
<td>
  <table class="table table-bordered">
    <tr>
      <td style="background-color: #a1a6a9;"><a href="{{ url_for('patient_detail', patient_id=patient.id) }}" style="color: rgb(3, 3, 3); text-decoration: none;">Report</a></td>

    </tr>
    <tr>
      <td style="background-color: #a1a6a9;"><a href="{{ url_for('laboratory_detail_doctor', patient_id=patient.id) }}" style="color: rgb(3, 3, 3); text-decoration: none;">Laboratory</a></td>

    </tr>
    <tr>
      <td style="background-color: #a1a6a9;"><a href="{{ url_for('medicine', patient_id=patient.id) }}" style="color: rgb(3, 3, 3); text-decoration: none;">Medicine</a></td>

    </tr>
  </table>

</td>

<td>
  <div class="col-md-10" style="right: 0;">
    <button type="button" class="btn btn-primary" id="new-report-button">New</button>
    <form method="POST" action="{{ url_for('submit_report', patient_id=patient.id) }}" id="new-report-form" style="display: none;">
  <div class="form-group">
  <textarea class="form-control" id="report" name="report" rows="20" cols="30" value="This is some default text.">Patient Information:
  Name: &nbsp&nbsp{{ patient.first_name }} &nbsp&nbsp{{ patient.second_name }}
  Age: &nbsp&nbsp{{ age }}
  Gender: &nbsp&nbsp{{ patient.gender }}
  Address: &nbsp&nbsp{{ patient.city }} &nbsp&nbsp{{ patient.state }}
  Phone: &nbsp&nbsp{{ patient.phone }}

  Medical History:

  Diagnosis:

  Treatment Plan:

  Follow-up:
  </textarea>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>

  {% if report %}
  <ul class="list-group">
  {% for report in report %}
  <li class="list-group-item list-group-item-action list-group-item-primary">{{ report.date }}
    <button type="button" class="btn btn-primary btn-sm ms-2" data-report-id="{{ report.id }}">Edit</button>
  </li>
  <li class="list-group-item">
    <div class="report-data" data-report-id="{{ report.id }}"><pre>{{ report.data}}</pre></div>
    <form class="edit-report-form d-none" data-report-id="{{ report.id }}">
      <textarea class="form-control" rows="6" cols="80" name="report_data">{{ report.data }}</textarea>
      <button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
      <input type="hidden" name="report_id" value="{{ report.id }}">
    </form>
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>No reports found.</p>
  {% endif %}




  <div class="text-left">

  <script>
  $(document).ready(function() {
  $('#new-report-button').click(function() {
    var isVisible = $('#new-report-form').is(':visible');
    $('#new-report-form').toggle(!isVisible);
    $('.cancel-report-button').toggle(isVisible);
    $(this).text(isVisible ? 'New' : 'Cancel');
  });

  $('.btn-primary').click(function() {
    var reportId = $(this).data('report-id');
    var reportData = $('.report-data[data-report-id="' + reportId + '"]');
    var editForm = $('.edit-report-form[data-report-id="' + reportId + '"]');

    reportData.toggleClass('d-none');
    editForm.toggleClass('d-none');
  });

  $('.edit-report-form').submit(function(event) {
    event.preventDefault();
    var form = $(this);
    var data = form.serialize();
    $.ajax({
      url: '/edit_report',
      type: 'POST',
      data: data,
      success: function(response) {
        var reportId = form.data('report-id');
        var reportData = $('.report-data[data-report-id="' + reportId + '"]');
        var editForm = $('.edit-report-form[data-report-id="' + reportId + '"]');
        reportData.text(response['report_data']);
        reportData.toggleClass('d-none');
        editForm.toggleClass('d-none');
      },
      error: function() {
        alert("An error occurred. Please try again.");
      }
    });
  });
  });
  </script>




  </div>
  </div>

</td>

</tr>

</tbody>
</table>
</div>


</div>
</div>
</div>
</div>
</section>

{% endblock %}
