<!DOCTYPE html>
<html lang="en">
<head>
  <title>HMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body style="background: url('{{ url_for('static', filename='uploads/backgroud_home.webp') }}'); background-size: cover; background-repeat: no-repeat;">
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">HOSPITAL Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/health_information">Hospital information</a></li>
            {% if name %}
            <li><a href="/appointments">Appointments</a></li>
            {% endif %}
          </ul>



          <ul class="nav navbar-nav navbar-right">
            {% if name %}
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
            {%else%}
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>


        </div>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer class="footer" style="position: fixed; bottom: 0;  width: 100%; padding: 10px; background-color: #f1f1f1; text-align: center; font-size: 14px; opacity: 0.5;">
      &copy; 2023 Hospital Management System
    </footer>
  </body>
</html>
