{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h3>Contact US</h3>

      <ul>
        <li style="color: white; font-size: 20px; ">Follow on</li>
        <li><a href="mailto:info@yourhospital.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://www.instagram.com/yourhospitalname/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/yourhospitalname/"><i class="fa fa-telegram"></i></a></li>
        <li><a href="https://www.facebook.com/yourhospitalname/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/yourhospitalname/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://linkedin.com/yourhospitalname/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
</div>

{% endblock %}
