{% extends 'laboratory/base.html' %}
{% block content %}
<br>
<br>
<div class="container-fluid">


      <div class="row">

        <div class="col-md-9">

          {% for laboratory_test in laboratory_test %}
          <div class="card" style="width: 900px">
          <div class="card-header" style="color: white; background-color: #6778ff;">
          <h3 class="card-title text-center"> Your Patients</h3>
          </div>

          <div class="card-body">
          <table class="table table-bordered">
          <thead style="width: 100px">
          <tr>

          <th style="width: 50px">#</th>
          <th style="width: 100px">Paient_id</th>
          <th style="width: 100px">Name</th>


          <th style="width: 30px">Test</th>
          </tr>
          </thead>

          <tbody>
          <tr>

          <td>{{laboratory_test.id}}</td>
          <td>{{laboratory_test.patient_id}}</td>


        <td>{{ laboratory_test.data.split('\n')[0] }}</td>

          <td><a href="{{ url_for('laboratory_detail_lab', laboratory_test_id=laboratory_test.id) }}" class="text-decoration-none">Test</a></td>

          </tr>

          </tbody>

          </table>
          </div>

          </div>
          {% endfor %}

        </div>
      </div>




</div>
{% endblock %}
