{% extends 'laboratory/base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
        <div class="text-right">
            <br>
            <br>

</div>
</div>
    <div class="col-md-9">
        <br>
        <br>
        <h5 class="text-primary mb-4 text-center">Detail of lab:</h5>
      <form method="POST" action="{{ url_for('submit_lab_report', laboratory_test_id=laboratory_test.id) }}">
        <div class="form-group">
          <textarea class="form-control" id="report_data" name="report_data" rows="20" cols="30" value="This is some default text.">Patient Information:
            {{ laboratory_test.data }}
          </textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>


</div>
</div>

{% endblock %}
